@model Todo

<h2>Modifier la tâche</h2>

<form method="post">
    <label>Libelle</label><br />
    <input type="text" name="Libelle" value="@Model.Libelle" /><br /><br />

    <label>Description</label><br />
    <textarea name="Description">@Model.Description</textarea><br /><br />

    <label>État</label><br />
    <select name="State">
        <option selected>@Model.State</option>
        <option>ToDo</option>
        <option>Doing</option>
        <option>Done</option>
    </select><br /><br />

    <label>Date</label><br />
    <input type="date" name="Date" value="@Model.Date.ToString("yyyy-MM-dd")" /><br /><br />

    <button type="submit">Modifier</button>
</form>

<a href="/Todo/Index">⬅ Retour</a>
